@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .active {
    @apply text-primary;
  }
}

/* Flip-card custom utilities */
.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}


